$maincss: #0768ac;
$maincss01: #0056D2;
$maincss02: #4a90e2;
$c-fba: #3FAFBA;
$c-8ac: #1F68AC;
$c-ded:#174DE0;
$c-e68: #FF7D13;
$c-c40: #FFA400;
$c-c30: #EC6300;
$c-c20: #EC4200;
$c-333: #333333;
$c-666: #666666;
$c-999: #999999;
$c-19: #191919;
$c-ccc: #cccccc;
$c-eee: #eeeeee;
$c-ef: #efefef;
$c-f5: #f5f5f5;
$c-ff: #ffffff;
$c-399: #399eb8;
$c-b65: #505B65;
$c-50: #505B65;
$c-a3: #a3a3a3;
$c-eb:#EBF2FF;
$c-a5: #a5a19b;
$titleFontSize: 24px;
$navFontSize: 16px;
$cardFontSize: 14px;
$contain: 100px;
$font:PingFangTC-Medium;
$ba-color:#252D55;
